//FUENTES

$fuentePrinsipal: Arial, Helvetica, sans-serif;



//COLORES

$primario: #E50914;
$secundario:#E87C03;
$gris: #323232;
$gris2:#8C8C8C;
$gris3:#454545;
$blanco: #ffff;
$negro: #000000;

//MEDIA QUERIES
$telefono: 400px;
$tablet: 768px;
$deskop: 1200px;


$radius: 5px;
